# Copy to .env and modify for your environment

# ── Hardware ────────────────────────────────────────────────────────────────────
INIT_MEMORY=2G
MAX_MEMORY=6G

# ── Packwiz ───────────────────────────────────────────────────────────────────────
PACKWIZ_URL=http://127.0.0.1:8080/pack.toml

# ── Configs ───────────────────────────────────────────────────────────────────────
CONFIG_DIR=./config
DEFAULT_CONFIGS_DIR=./defaultconfigs
KUBEJS_DIR=./kubejs
MOTD='A cozy container for a Create server'